:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 700;

  color: black;
  background-color: black;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}